!!!
html
	head
		title Portfolio
		link(rel='stylesheet', href='/stylesheets/reset.css', type='text/css', media='all')
		link(rel='stylesheet', href='/stylesheets/style.css', type='text/css', media='all')
		link(rel='stylesheet', href='/stylesheets/lightbox.css', type='text/css', media='screen')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js', type='text/javascript')
		script(src='/javascripts/jquery.scrollTo.js', type='text/javascript')
		script
			jQuery.noConflict();
		script(src='/javascripts/global.js', type='text/javascript')
		script(src='/javascripts/prototype.js', type='text/javascript')
		script(src='/javascripts/scriptaculous.js?load=effects,builder', type='text/javascript')
		script(src='/javascripts/lightbox.js', type='text/javascript')
	body!= body